<div class="paddedWrapper">
  <!-- contenteditableSwitch must be placed AFTER contentEditable to override 'contenteditable' attribute -->
  <!-- Cohort Description 입력 창 -->
  <div
    class="divtext cohort-description"
    data-bind="contentEditable: currentCohortDefinition().description, contenteditableSwitch: canEdit(), placeholder: ko.i18n('components.atlasCohortEditor.enterCohortPlaceholder', 'Enter the cohort definition description here')"
  ></div>
  <!-- ConceptSet import 및 edit 버튼 : 모달 형식으로 뜸-->
  <div
    data-bind="eventListener: [
									{ event: 'click', selector: '.conceptset_import', callback: handleConceptSetImport},
									{ event: 'click', selector: '.conceptset_edit', callback: handleEditConceptSet}
									]"
  >
    <!-- ko if:canEdit-->
    <!-- Cohort Expression Editor -->
    <!-- 수정이 가능할 때 cohort-expression-editor-->
    <cohort-expression-editor
      params="expression: $component.currentCohortDefinition().expression, widget: $component.cohortExpressionEditor"
    ></cohort-expression-editor>
    <!-- /ko -->
    <!-- ko ifnot:canEdit-->
    <!-- 수정이 불가능할 때 cohort-expression-viewer-->
    <cohort-expression-viewer
      params="expression: $component.currentCohortDefinition().expression"
    ></cohort-expression-viewer>
    <!-- /ko -->
    <!-- ConceptSet import 모달 -->
    <div
      class="modal fade"
      data-bind="modal: showModal"
      tabindex="-1"
      role="dialog"
    >
      <!-- ko if:showModal-->
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div
            class="modal-header"
            data-bind="text: ko.i18n('components.atlasCohortEditor.importConceptSet', 'Import Concept Set From Repository...')"
          ></div>
          <div class="paddedWrapper">
            <concept-set-browser
              params="
							criteriaContext: $component.criteriaContext,
							cohortConceptSets: $component.currentCohortDefinition().expression().ConceptSets,
							onActionComplete: $component.onAtlasConceptSetSelectAction,
							buttonActionEnabled: true,
							pageLength: $component.tableOptions.pageLength,
							lengthMenu: $component.tableOptions.lengthMenu,
							"
            ></concept-set-browser>
          </div>
        </div>
      </div>
      <!-- /ko -->
    </div>
  </div>
</div>
